body {
  font-family: 'Poppins';
  margin: 0;
  padding: 0;
  background-color: #000000;
  color: #ffff; }

.main-wrapper {
  margin: 0 auto;
  max-width: 100%;
  width: 1440px; }

.logo img {
  height: 50px;
  top: 1.875rem; }

.nav-bar {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 1.875; }

.nav-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
  margin-top: 1.875rem;
  width: 45%; }

.nav-menu li a {
  font-size: 1.2rem;
  text-decoration: none; }

.nav-menu li a:link {
  color: #ffff; }

.nav-menu li a:visited {
  color: #ffff; }

.cool-link::after {
  background-color: #ffff;
  content: '';
  display: block;
  height: 0.125rem;
  transition: width .3s;
  width: 0; }

.cool-link:hover::after {
  transition: width .3s;
  width: 100%; }

.header-content {
  align-items: center;
  display: flex;
  margin-top: 230px; }

.banner-contact {
  background-image: url(../../img/home-banner.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
  max-width: 100%;
  padding: 0 50px;
  width: 1440px; }

.banner-info {
  align-items: center;
  color: #ffff;
  display: flex;
  flex-direction: row;
  height: 200px;
  justify-content: center;
  margin: 0 auto;
  max-width: 100%;
  text-align: center;
  width: 1170px; }

.banner-text {
  font-size: 24px;
  margin-right: 6rem; }

.banner-info p {
  font-weight: bold;
  text-align: center;
  width: 100%; }

.banner-info a:hover {
  background-color: #0060CF; }

.banner-button a {
  background-color: #0074FB;
  border-radius: 0.313rem;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  margin: 6.25rem 0 5rem;
  padding: 0.625rem 1rem;
  text-decoration: none;
  text-transform: uppercase; }

.footer-wrapper {
  background-color: #000000;
  color: #ffff;
  max-width: 1440px;
  padding: 0 5%;
  width: 100%; }

.footer-info {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 215px;
  justify-content: space-between;
  max-width: 100%;
  margin: 0 auto;
  width: 1170px; }

.footer-contact {
  display: flex;
  flex-direction: column; }

.footer-phone {
  align-items: center;
  display: flex;
  flex-direction: row; }

.footer-phone img {
  margin-right: 1.563rem;
  width: 24px;
  height: 24px; }

.form-title {
  display: flex;
  justify-content: center;
  margin: 1rem 0  1.563rem; }

.footer-mail {
  align-items: center;
  display: flex;
  flex-direction: row; }

.footer-mail img {
  height: 24px;
  margin-right: 1.563rem;
  width: 24px; }

.stay-form {
  display: flex;
  flex-direction: column; }

.form-input {
  display: flex;
  justify-content: center; }

.form-input input {
  background: none;
  border-radius: 0.313rem 0 0 0.313rem;
  border: 0.188rem solid #0074FB;
  color: white;
  height: 31px;
  width: 180px; }

.form-input button:hover {
  background-color: #0060CF; }

.form-input button {
  background-color: #0074FB;
  border: none;
  border-radius: 0 0.313rem 0.313rem 0;
  color: white;
  font-weight: bolder;
  padding: 0.5rem 1rem;
  text-transform: uppercase;
  text-decoration: none; }

.social-media {
  display: flex;
  justify-content: center; }

.social-media p {
  margin: 1rem 0 1.563rem; }

.list-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
  margin: 0 auto;
  padding: 0; }

.list-icons img {
  height: 24px; }

.list-icons img:hover {
  -ms-transform: scale(1.5);
  /* IE 9 */
  -webkit-transform: scale(1.5);
  /* Safari 3-8 */
  transform: scale(1.5); }

.list-icons a {
  margin-left: 2.188rem; }

.form-copy-right {
  display: flex;
  justify-content: center; }

.form-copy-right p {
  color: #BDBDBD;
  margin: 1.25rem;
  order: 3; }

.first-header-wrapper {
  max-width: 100%;
  padding: 0 5%;
  width: 1440px; }

.header-home {
  background-image: url(../../img/home-img-1.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top 70px right;
  color: #ffff;
  display: flex;
  flex-direction: column;
  height: 600px;
  margin: 0 auto;
  max-width: 100%;
  width: 1170px; }

.header-name {
  margin-left: 5rem; }

.header-name h1 {
  font-size: 6.375rem;
  margin: 0 auto; }

.header-name p {
  font-size: 1.875rem;
  margin: 0 auto; }

.icons-list {
  display: flex;
  flex-direction: column;
  height: 180px;
  justify-content: space-around;
  padding: 0; }

.icons-list li {
  list-style: none; }

.icons-list li img {
  height: 1.5rem;
  width: 1.5rem; }

.icons-list li img:hover {
  -ms-transform: scale(1.5);
  /* IE 9 */
  -webkit-transform: scale(1.5);
  /* Safari 3-8 */
  transform: scale(1.5); }

.wrapper-about {
  background-color: #000000;
  color: #ffff;
  max-width: 100%;
  width: 1440px;
  padding: 0 5%; }

.aboutme-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 6.25rem;
  margin-bottom: 9.375rem;
  max-width: 100%;
  width: 1170px; }

.aboutme-text {
  width: 31.25rem; }

.aboutme-text h3 {
  margin: 6.875rem 0 0;
  font-size: 12.5rem; }

.aboutme-text p {
  margin: 3.125rem 0 0; }

.aboutme-img {
  background-image: url(../../img/home-img-2.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 370px;
  height: 350px;
  margin-top: 7.813rem; }

.btn-home-about {
  margin-top: 2.875rem; }

.aboutme-text a:hover {
  background-color: #0060CF; }

.btn-home-about a {
  background-color: #0074FB;
  border-radius: 0.313rem;
  color: #ffff;
  font-weight: bold;
  font-size: 1rem;
  font-weight: bold;
  margin: 6.25rem 0 5rem;
  padding: 0.625rem 1rem;
  text-decoration: none;
  text-transform: uppercase; }

.aboutme-info a:visited {
  color: #ffff; }

.aboutme-img img {
  width: 100%;
  margin-top: 7.813rem; }

.portfolio-section {
  background-color: #000000;
  margin: 0 auto;
  max-width: 1440px;
  padding: 0 5%;
  width: 100%; }

.portfolio-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: end;
  margin: 0 auto;
  max-width: 100%;
  width: 1170px; }

.portfolio-title h3 {
  color: #ffff;
  float: right;
  font-size: 2.5rem;
  margin-top: 6.375rem; }

.portfolio-img-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 2.688rem 0 3rem; }

.portfolio-img img {
  box-sizing: border-box;
  height: 16.25rem;
  padding: 0.625rem;
  width: 100%; }

.portfolio-btn a:hover {
  background-color: #0060CF; }

.portfolio-btn a {
  background-color: #0074FB;
  border-radius: 0.313rem;
  color: #ffff;
  font-weight: bold;
  font-size: 1rem;
  font-weight: bold;
  margin: 1.25rem 0 5rem;
  padding: 0.625rem 1rem;
  text-decoration: none;
  text-transform: uppercase;
  float: right; }

.feedback-wrapper {
  background-color: #000000;
  max-width: 100%;
  padding: 0 5%;
  width: 1440px; }

.feedback-second-wrapper {
  max-width: 100%;
  margin: 0 auto;
  width: 1170px; }

.feedback-title {
  margin: 0 auto;
  width: 100%; }

.feedback-title h3 {
  color: #ffff;
  font-size: 2.5rem;
  margin: 0 0 3.75rem; }

.slideshow-container {
  align-items: center;
  color: #ffff;
  display: flex;
  justify-content: space-between;
  max-width: 1170px;
  margin: auto;
  position: relative;
  width: 100%; }

.mySlides {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

.text-comment {
  display: flex;
  flex-direction: column;
  width: 100%; }

.text-comment p {
  margin: 2.5rem 130px 0 0;
  width: 25rem; }

.feedback-img {
  width: 100%; }

.feedback-img img {
  border-radius: 0.625rem;
  height: 240px;
  width: 240px; }

.feedback-name {
  align-items: center;
  display: flex;
  flex-direction: row;
  margin-top: 1.875rem; }

.feedback-name p {
  margin: 0 0 0 1.875rem; }

.feedback-name img {
  height: 3px;
  width: 50px; }

.left-row img:hover {
  -ms-transform: scale(1.5);
  /* IE 9 */
  -webkit-transform: scale(1.5);
  /* Safari 3-8 */
  transform: scale(1.5); }

.left-row img {
  width: 24px; }

.right-row img {
  width: 24px; }

.right-row:hover {
  -ms-transform: scale(1.5);
  /* IE 9 */
  -webkit-transform: scale(1.5);
  /* Safari 3-8 */
  transform: scale(1.5); }

.circles-wrapper {
  background-color: #000000;
  max-width: 100%;
  padding: 0 5%;
  text-align: center;
  width: 1440px; }

.circles-content {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto; }

.aboutme-text a:hover {
  background-color: #0060CF; }

.dot {
  cursor: pointer;
  background-color: #000000;
  border: 0.188rem solid #ffff;
  border-radius: 50%;
  display: inline-block;
  height: 10px;
  margin: 2.5rem 0.125rem;
  width: 10px;
  transition: background-color 0.6s ease; }

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s; }

@-webkit-keyframes fade {
  from {
    opacity: .5; }
  to {
    opacity: 1; } }

@keyframes fade {
  from {
    opacity: .5; }
  to {
    opacity: 1; } }

.first-about-wrapper {
  max-width: 100%;
  padding: 0 5%;
  width: 1440px; }

.header-about {
  background-image: url(../../img/header-about-img.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top 4.375rem right;
  color: #ffff;
  display: flex;
  flex-direction: column;
  height: 600px;
  margin: 0 auto;
  max-width: 100%;
  width: 1170px; }

.header-about-name h1 {
  font-size: 6.375rem;
  margin: 0 auto; }

.wrapper-aboutme {
  background-color: #000000;
  max-width: 100%;
  padding: 0 5%;
  width: 1440px; }

.aboutme-section-wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 1170px; }

.aboutme-section-text {
  margin-right: 12.5rem;
  width: 610px; }

.aboutme-text h3 {
  font-size: 2.5rem;
  margin: 6.875rem 0 0; }

.aboutme-text p {
  margin: 1.875rem 0 0; }

.aboutme-info a:visited {
  color: #ffff; }

.aboutme-section-one {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 3.75rem; }

.aboutme-first-img {
  margin-top: 2.5rem; }

.aboutme-section-two {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: end;
  margin-bottom: 7.813rem; }

.section-two-img {
  margin: 0 12.5rem 0 6.25rem; }

.section-two-text {
  width: 610px; }

* {
  box-sizing: border-box; }

.portfolio-bg-wrapper {
  max-width: 100%;
  padding: 0 5%;
  width: 1440px; }

.portfolio-header {
  background-image: url(../../img/header-about-portfolio.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top 4.375rem right;
  color: #ffff;
  display: flex;
  flex-direction: column;
  height: 600px;
  margin: 0 auto;
  max-width: 100%;
  width: 1170px; }

.header-name-portfolio h1 {
  font-size: 6.375rem;
  margin: 0 auto; }

.portfolio-section {
  background-color: #000000;
  margin: 0 auto;
  max-width: 1440px; }

.portfolio-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: end;
  max-width: 1170px;
  margin: 0 auto; }

.project-wrapper {
  max-width: 1440px;
  margin-top: 11.25rem;
  padding: 0 5%; }

.second-wrapper {
  margin: 0 auto;
  max-width: 1170px; }

.tabs-title h2 {
  font-size: 2.5rem; }

.row {
  margin: 1.875rem -1rem 6.25rem; }

.row,
.row > .column {
  padding: 0.5rem; }

.column {
  display: none;
  float: left;
  width: 33.33%; }

.row:after {
  content: "";
  clear: both;
  display: table; }

.content {
  background-color: #1D1D1D;
  border-radius: 0.625rem;
  padding: 0.625rem; }

.content img {
  width: 100%; }

.show {
  display: block; }

.github-activity a {
  background-color: #313131;
  border-radius: 0.313rem;
  border: none;
  color: #ffff;
  cursor: pointer;
  outline: none;
  padding: 0.75rem 1rem;
  text-decoration: none; }

.github-activity a:hover {
  background-color: #000000;
  color: #BDBDBD; }

.tabs-content {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

#myBtnContainer {
  width: 320px;
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

.btn:hover {
  background-color: #1D1D1D; }

.btn.active {
  background-color: #1D1D1D;
  color: #ffff; }

.btn {
  border: none;
  background-color: #313131;
  border-radius: 0.313rem;
  color: #ffff;
  cursor: pointer;
  outline: none;
  padding: 0.75rem 1rem; }

.principal-contact-wrapper {
  padding: 0 5%;
  max-width: 100%;
  width: 1440px; }

.second-contact-wrapper {
  background-image: url(../../img/header-contact-img.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top 4.375rem right;
  color: #ffff;
  display: flex;
  flex-direction: column;
  height: 600px;
  margin: 0 auto;
  max-width: 100%;
  width: 1170px; }

.header-contact-title h1 {
  font-size: 6.375rem;
  margin: 0 auto; }

.contact-title {
  display: flex;
  justify-content: start;
  margin-bottom: 3.125rem 0; }

.contact-title h4 {
  display: flex;
  flex-direction: row;
  font-size: 2.5rem;
  margin: 0 0 0 0; }

.contact-picture img {
  margin: 6.25rem 0 0 6.25rem; }

.contact-form {
  margin: 0 auto;
  max-width: 100%;
  width: 1440px;
  padding: 0 5%; }

.contact-wrapper {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  justify-content: start;
  max-width: 1170px;
  margin: 0 auto;
  padding-top: 3.125rem;
  padding-bottom: 6.25rem; }

.form-content {
  margin: 7.813rem 0 0 12.5rem; }

.form-content form input {
  border-radius: 0.313rem;
  height: 1.875rem;
  margin: 0.313rem 0 1.250rem;
  width: 250px; }

.form-content form textarea {
  margin: 0.313rem 0;
  border-radius: 0.313rem;
  resize: none;
  width: 254px; }

.form-content button:hover {
  background-color: #0060CF; }

.form-content button {
  background-color: #0074FB;
  border: none;
  border-radius: 5px;
  color: #ffff;
  font-size: 1rem;
  font-weight: bold;
  padding: 0.625rem 6.6rem;
  text-decoration: none;
  text-transform: uppercase; }

.form-content p {
  color: #BDBDBD;
  font-size: 1rem;
  width: 250px; }
