body {
  font-family: 'Poppins';
  margin: 0;
  padding: 0;
  width: 100%; }

.main-wrapper {
  max-width: 100%;
  width: 1440px; }

.first-header-wrapper {
  max-width: 100%;
  width: 1440px; }

.header {
  display: flex;
  flex-direction: column;
  border: 1px solid green;
  margin: 0 auto;
  max-width: 100%;
  width: 1170px;
  color: #ffff; }

.header-img {
  background-image: url(../../img/home-header-img.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 40%;
  height: 580px;
  margin-top: 60px;
  border: 1px solid red; }

@media (max-width: 767px) {
  .header-img {
    display: none; }
  .first-header-wrapper {
    max-width: 1440px;
    width: 100%;
    background-image: url(../../img/home-header-img.png);
    background-size: contain;
    background-repeat: no-repeat;
    border: 1px solid orange; }
  .header {
    max-width: 90%;
    margin: 0 auto; } }

.logo img {
  top: 1.875rem; }

.nav-bar {
  display: flex;
  flex-direction: column;
  flex-direction: row;
  justify-content: space-between; }

.nav-menu {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 1.875rem; }

@media (max-width: 767px) {
  .nav-bar ul {
    display: none; } }

.nav-menu li a {
  text-decoration: none;
  font-size: 1.125rem;
  display: inline-block; }

.nav-menu li a:visited {
  color: #ffff; }

.cool-link::after {
  content: '';
  display: block;
  width: 0;
  height: 0.125rem;
  background-color: #ffff;
  transition: width .3s; }

.cool-link:hover::after {
  width: 100%;
  transition: width .3s; }

.header-content {
  height: 700px;
  display: flex;
  align-items: center; }

.icons-list {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  height: 180px;
  padding: 0; }

.icons-list li {
  list-style: none; }

.icons-list li img {
  height: 1.5rem;
  width: 1.5rem; }

.icons-list li img:hover {
  -ms-transform: scale(1.5);
  /* IE 9 */
  -webkit-transform: scale(1.5);
  /* Safari 3-8 */
  transform: scale(1.5); }

.header-name {
  border: 3px solid red;
  margin-left: 5rem; }

.header-name h1 {
  font-size: 4.375rem;
  margin: 0 auto; }

.header-name p {
  font-size: 1.875rem;
  margin: 0 auto; }

.banner-contact {
  max-width: 1440px;
  width: 100%;
  background-image: url(/img/home-banner.png);
  background-repeat: no-repeat;
  background-size: cover; }

.banner-info {
  color: #ffff;
  display: flex;
  flex-direction: row;
  justify-content: end;
  text-align: center;
  width: 100%;
  max-width: 1170px;
  margin: 0 auto; }

.banner-info p {
  width: 100%;
  font-weight: bold;
  text-align: center;
  margin: 6.25rem 18.75rem 6.25rem 4.375rem; }

.banner-info a {
  font-size: 1rem;
  text-decoration: none;
  background-color: #0074FB;
  padding: 0.625rem 1rem;
  color: white;
  border-radius: 0.313rem;
  font-weight: bold;
  text-transform: uppercase;
  position: absolute;
  margin: 6.25rem 0 5rem; }

.banner-info a:hover {
  background-color: #0060CF; }

.wrapper-about {
  background-color: #000000;
  width: 1440px;
  max-width: 100%;
  color: #ffff; }

.aboutme-info {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 0 auto;
  padding-bottom: 12.188rem;
  width: 1170px;
  max-width: 100%; }

.aboutme-text {
  width: 31.25rem;
  margin-right: 200px; }

.aboutme-text h3 {
  margin: 110px 0 0;
  font-size: 12.5rem; }

.aboutme-text p {
  margin: 3.125rem 0 0; }

.aboutme-text a {
  font-size: 1rem;
  text-decoration: none;
  background-color: #0074FB;
  padding: 0.625rem 1rem;
  color: #ffff;
  border-radius: 0.313rem;
  font-weight: bold;
  text-transform: uppercase;
  position: absolute;
  margin-top: 3.75rem; }

.aboutme-text a:hover {
  background-color: #0060CF; }

.aboutme-info a:visited {
  color: #ffff; }

.aboutme-img img {
  width: 100%;
  margin-top: 7.813rem; }

.portfolio-section {
  max-width: 1440px;
  background-color: #000000;
  margin: 0 auto; }

.portfolio-wrapper {
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: end; }

.portfolio-img-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 4.688rem 0 6.25rem; }

.portfolio-img img {
  width: 23.125rem;
  height: 15.938rem; }

.portfolio-title h3 {
  color: #ffff;
  margin-top: 9.375rem;
  float: right;
  font-size: 2.5rem; }

.portfolio-btn a {
  font-size: 1rem;
  text-decoration: none;
  background-color: #0074FB;
  padding: 0.625 1rem;
  color: #ffff;
  border-radius: 0.313rem;
  font-weight: bold;
  text-transform: uppercase;
  margin: 1.25rem 0 6.25rem;
  float: right; }

.portfolio-btn a:hover {
  background-color: #0060CF; }

.feedback-wrapper {
  background-color: #000000; }

.feedback-title {
  width: 1170px;
  margin: 0 auto; }

.feedback-title h3 {
  margin: 0 0 3.75rem;
  color: #ffff;
  font-size: 2.5rem; }

/* Slideshow container */
.slideshow-container {
  color: #ffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1170px;
  position: relative;
  margin: auto; }

/* Hide the images by default */
.mySlides {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

.text-comment {
  display: flex;
  flex-direction: column; }

.text-comment p {
  width: 25rem;
  margin: 2.5rem 130px 0 0; }

.mySlides img {
  width: 240px;
  height: 240px;
  border-radius: 0.625rem; }

.feedback-name {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 1.875rem; }

.feedback-name p {
  margin: 0 0 0 1.875rem; }

.feedback-name img {
  height: 3px;
  width: 50px; }

.left-row img {
  width: 24px; }

.left-row img:hover {
  -ms-transform: scale(1.5);
  /* IE 9 */
  -webkit-transform: scale(1.5);
  /* Safari 3-8 */
  transform: scale(1.5); }

.right-row img {
  width: 24px; }

.right-row:hover {
  -ms-transform: scale(1.5);
  /* IE 9 */
  -webkit-transform: scale(1.5);
  /* Safari 3-8 */
  transform: scale(1.5); }

/* Caption text */
.text {
  color: #ffff;
  font-size: 1rem;
  padding: 0.5rem 0.75;
  position: absolute;
  bottom: 0.5rem;
  width: 100%;
  text-align: center; }

/* The dots/bullets/indicators */
.circles-wrapper {
  background-color: #000000;
  max-width: 1440px;
  text-align: center; }

.circles-content {
  width: 1170px;
  margin: 0 auto; }

.dot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 2.5rem 0.125rem;
  background-color: #000000;
  border-radius: 50%;
  border: 0.188rem solid #ffff;
  display: inline-block;
  transition: background-color 0.6s ease; }

.active, .dot:hover {
  background-color: #ffff; }

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s; }

@-webkit-keyframes fade {
  from {
    opacity: .4; }
  to {
    opacity: 1; } }

@keyframes fade {
  from {
    opacity: .4; }
  to {
    opacity: 1; } }

.footer-wrapper {
  width: 1440px;
  max-width: 100%;
  background-color: #000000;
  color: #ffff; }

.footer-info {
  width: 1170px;
  max-width: 100%;
  height: 215px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }

.footer-contact {
  display: flex;
  flex-direction: column; }

.footer-phone {
  display: flex;
  flex-direction: row;
  align-items: center; }

.footer-phone img {
  margin-right: 1.563rem;
  width: 24px;
  height: 24px; }

.form-title {
  display: flex;
  justify-content: center;
  margin: 1rem 0  1.563rem; }

.footer-mail {
  display: flex;
  flex-direction: row;
  align-items: center; }

.footer-mail img {
  margin-right: 1.563rem;
  width: 24px;
  height: 24px; }

.stay-form {
  display: flex;
  flex-direction: column; }

.form-input {
  display: flex;
  justify-content: center; }

.form-input input {
  border: 0.188rem solid #0074FB;
  color: white;
  background: none;
  border-radius: 0.313rem 0 0 0.313rem;
  height: 31px;
  width: 180px; }

.form-input button {
  text-decoration: none;
  background-color: #0074FB;
  color: white;
  border-radius: 0 0.313rem 0.313rem 0;
  font-weight: bolder;
  text-transform: uppercase;
  padding: 0.5rem 1rem;
  border: none; }

.form-input button:hover {
  background-color: #0060CF; }

.social-media {
  display: flex;
  justify-content: center; }

.social-media p {
  margin: 1rem 0 1.563rem; }

.list-icons {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
  margin: 0 auto; }

.list-icons img {
  height: 24px; }

.list-icons img:hover {
  -ms-transform: scale(1.5);
  /* IE 9 */
  -webkit-transform: scale(1.5);
  /* Safari 3-8 */
  transform: scale(1.5); }

.list-icons a {
  margin-left: 2.188rem; }

.form-copy-right {
  display: flex;
  justify-content: center; }

.form-copy-right p {
  order: 3;
  color: #BDBDBD;
  margin: 1.25rem; }

/*.header{
  margin: 0 auto;
  max-width: 100%;
  width: 1170px;
  height: 720px;
  position: relative;
  color: white;
}*/
.aboutme-wrapper {
  max-width: 100%;
  height: 100%;
  background-image: url(/img/img-bg-aboutme.png);
  background-repeat: no-repeat;
  background-size: contain; }

.logo img {
  position: absolute;
  width: 4.375rem;
  height: 2.188rem;
  top: 2.188rem; }

.nav-bar {
  float: right; }

.nav-menu {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 2.188rem; }

.nav-menu li a {
  text-decoration: none;
  font-size: 1.125rem;
  margin-left: 2.188rem; }

.nav-menu li a:visited {
  color: #ffff; }

.header-title {
  position: absolute;
  left: 6.25rem;
  top: 16.25rem; }

.header-title h1 {
  font-size: 4.375rem;
  margin: 0 auto; }

.header-title p {
  font-size: 2.5rem;
  margin: 0 auto; }

.wrapper-about {
  background-color: black;
  width: 1440px; }

.aboutme-section-wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 1170px; }

.aboutme-text {
  width: 610px;
  margin-right: 12.5rem; }

.aboutme-text h3 {
  margin: 6.875rem 0 0;
  font-size: 2.5rem; }

.aboutme-text p {
  margin: 1.875rem 0 0; }

.aboutme-info a:visited {
  color: #ffff; }

.aboutme-section-one {
  display: flex;
  flex-direction: row;
  justify-content: center; }

.aboutme-section-two {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  margin-bottom: 7.813rem; }

.section-two-img {
  margin: 0 12.5rem 0 6.25rem; }

.section-two-text {
  width: 610px; }

/*.header{
  margin: 0 auto;
  width: 1170px;
  max-width: 100%;
  height: 720px;
  position: relative;
  color: $text-color;
}*/
.portfolio-bg {
  max-width: 100%;
  background-image: url(/img/portfolio-img-bg.png);
  background-repeat: no-repeat;
  background-size: cover; }

.portfolio-bg {
  width: 1440px; }

.logo img {
  position: absolute;
  width: 70px;
  height: 35px;
  top: 2.188rem; }

.nav-bar {
  float: right; }

.nav-menu {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 2.188rem; }

.nav-menu li a {
  text-decoration: none;
  font-size: 1.125rem;
  margin-left: 2.188rem; }

.nav-menu li a:visited {
  color: #ffff; }

.header-title {
  position: absolute;
  left: 6.25rem;
  top: 16.25rem; }

.header-title h1 {
  font-size: 4.375rem;
  margin: 0 auto; }

.header-title p {
  font-size: 2.5rem;
  margin: 0 auto; }

.portfolio-section {
  max-width: 1440px;
  background-color: #000000;
  margin: 0 auto; }

.portfolio-wrapper {
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: end; }

* {
  box-sizing: border-box; }

body {
  background-color: black;
  color: white; }

.project-wrapper {
  max-width: 1440px; }

.second-wrapper {
  max-width: 1170px;
  margin: 0 auto; }

/* Center website */
h1 {
  font-size: 2.5rem;
  word-break: break-all; }

.row {
  margin: 1.875rem -1rem 6.25rem; }

/* Add padding BETWEEN each column */
.row,
.row > .column {
  padding: 0.5rem; }

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  display: none;
  /* Hide all elements by default */ }

/* Clear floats after rows */
.row:after {
  content: "";
  display: table;
  clear: both; }

/* Content */
.content {
  background-color: #1D1D1D;
  border-radius: 0.625rem;
  padding: 0.625rem; }

.content img {
  width: 100%; }

/* The "show" class is added to the filtered elements */
.show {
  display: block; }

/* Style the buttons */
.tabs-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline; }

#myBtnContainer {
  width: 320px;
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

.btn {
  border: none;
  outline: none;
  padding: 0.75rem 1rem;
  background-color: #313131;
  border-radius: 0.313rem;
  color: #ffff;
  cursor: pointer; }

.btn:hover {
  background-color: #1D1D1D; }

.btn.active {
  background-color: #1D1D1D;
  color: #ffff; }

/*.header{
  margin: 0 auto;
  width: 1170px;
  height: 720px;
  position: relative;
  color: $text-color;
}*/
.contact-bg {
  background-image: url(/img/contact-img-bg.png);
  background-repeat: no-repeat;
  background-size: cover; }

.portfolio-bg {
  width: 1440px; }

.logo img {
  position: absolute;
  width: 70px;
  height: 35px;
  top: 2.188rem; }

.nav-bar {
  float: right; }

.nav-menu {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 2.188rem; }

.nav-menu li a {
  text-decoration: none;
  font-size: 1.125rem;
  margin-left: 2.188rem; }

.nav-menu li a:visited {
  color: #ffff; }

.header-title {
  position: absolute;
  left: 6.25rem;
  top: 16.25rem; }

.header-title h1 {
  font-size: 4.375rem;
  margin: 0 auto; }

.header-title p {
  font-size: 2.5rem;
  margin: 0 auto; }

.contact-title {
  display: flex;
  justify-content: start;
  margin-bottom: 3.125rem 0; }

.contact-title h4 {
  display: flex;
  flex-direction: row;
  margin: 0 0 0 0;
  font-size: 2.5rem; }

.contact-picture img {
  margin: 6.25rem 0 0 6.25rem; }

.contact-form {
  max-width: 1440px;
  background-color: #000000;
  margin: 0 auto; }

.contact-wrapper {
  max-width: 1170px;
  padding-top: 3.125rem;
  margin: 0 auto;
  padding-bottom: 6.25rem;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: flex-start; }

.form-content {
  margin: 7.813rem 0 0 12.5rem; }

.form-content form input {
  width: 250px;
  height: 30px;
  margin: 0.313rem 0 1.25rem;
  border-radius: 0.313rem; }

.form-content form textarea {
  resize: none;
  width: 252px;
  margin: 0.313rem 0;
  border-radius: 0.313rem; }

.form-content button {
  font-size: 1rem;
  text-decoration: none;
  background-color: #0074FB;
  border: none;
  padding: 0.625rem 6.688rem;
  color: #ffff;
  border-radius: 5px;
  font-weight: bold;
  text-transform: uppercase; }

.form-content button:hover {
  background-color: #0060CF; }

.form-content p {
  width: 250px;
  font-size: 1rem;
  color: #BDBDBD; }
