// **** Wrapper About Me ****

.wrapper-about{
  background-color: $primary-color;
  width: 1440px;
  max-width: 100%;
  color: $text-color;
}

//***** Wrapper About Me *****

.aboutme-info{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 0 auto;
  padding-bottom: 12.188rem;
  width: 1170px;
  max-width: 100%;
}

.aboutme-text{
  width: 31.25rem;
  margin-right: 200px;
}

.aboutme-text h3{
  margin: 110px 0 0;
  font-size: 12.5rem;
}

.aboutme-text p{
  margin: 3.125rem 0 0;
}

//**** About me / button ****

.aboutme-text a{
  font-size: 1rem;
  text-decoration: none;
  background-color: $button-color;
  padding: 0.625rem 1rem;
  color: $text-color;
  border-radius: 0.313rem;
  font-weight: bold;
  text-transform: uppercase;
  position: absolute;
  margin-top: 3.75rem;
}

.aboutme-text a:hover{
  background-color: $button-hover-color;
}

.aboutme-info a:visited{
  color: $text-color;
}


// **** About me - img ****

.aboutme-img img{
  width: 100%;
  margin-top: 7.813rem;
}


