//Header Div

.first-about-wrapper{
  max-width: 1440px;
  width: 100%;
  padding: 0 50px;
}

.header{
  background-image: url(../../img/home-header-img.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top 50px right;
}

/*
.header-img{
  background-image: url(../../img/home-header-img.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 40%;
  height: 580px;
  margin-top: 60px;

}*/


//Barra de navegacion



//Desktop logo

.logo img{
  top: 1.875rem;
}




// **** Wrapper About Me ****

.wrapper-aboutme{
  background-color: black;
  width: 1440px;
}

//***** Wrapper About Me *****

.aboutme-section-wrapper{
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 1170px;
}

.aboutme-section-text{
  width: 610px;
  margin-right: 12.5rem;
}

.aboutme-text h3{
  margin: 6.875rem 0 0;
  font-size: 2.5rem;
}

.aboutme-text p{
  margin: 1.875rem 0 0;
}


.aboutme-info a:visited{
  color: $text-color;
}

// About me / Section Two

.aboutme-section-one{
  display: flex;
  flex-direction: row;
  justify-content: center;
}


.aboutme-section-two{
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  margin-bottom: 7.813rem;
}

.section-two-img{
  margin: 0 12.5rem 0 6.25rem;
}

.section-two-text{
  width: 610px;
}


