// **** Wrapper About Me ****

.wrapper-about{
  background-color: black;
  width: 1440px;
}

//***** Wrapper About Me *****

.aboutme-info{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 0 auto;
  padding-bottom: 195px;
  width: 1170px;
}

.aboutme-text{
  width: 500px;
  margin-right: 200px;
}

.aboutme-text h3{
  margin: 110px 0 0;
  font-size: 45px;
}

.aboutme-text p{
  margin: 30px 0 0;
}

//**** About me / button ****

.aboutme-text a{
  font-size: 16px;
  text-decoration: none;
  background-color: #0074FB;
  padding: 10px 16px;
  color: white;
  border-radius: 5px;
  font-weight: bold;
  text-transform: uppercase;
  position: absolute;
}


.aboutme-info a:visited{
  color: white;
}

// **** About me - img ****

.aboutme-img img{
  width: 370px;
  margin-top: 125px;
}


