//Header Div

/*.header{
  margin: 0 auto;
  width: 1170px;
  height: 720px;
  position: relative;
  color: $text-color;
}*/

.contact-bg{
  background-image: url(/img/contact-img-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.portfolio-bg{
  width: 1440px;
}

//Desktop logo

.logo img{
  position: absolute;
  width: 70px;
  height: 35px;
  top: 2.188rem;
}

//Barra de navegacion

.nav-bar{
  float: right;
}

.nav-menu{
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 2.188rem;
}

.nav-menu li a{
  text-decoration: none;
  font-size: 1.125rem;
  margin-left: 2.188rem;
}

.nav-menu li a:visited{
  color: $text-color;
}


//**** Header Title *****

.header-title{
  position: absolute;
  left: 6.25rem;
  top: 16.25rem;
}

.header-title h1{
  font-size: 4.375rem;
  margin: 0 auto;

}

.header-title p{
  font-size: 2.5rem;
  margin: 0 auto;
}

//****** Portfolio Title ****

.contact-title{
  display: flex;
  justify-content: start;
  margin-bottom: 3.125rem 0;
}

.contact-title h4{
  display: flex;
  flex-direction: row;
  margin: 0 0 0 0;
  font-size: 2.5rem;
}

//**** Contact me img****

.contact-picture img{
  margin: 6.25rem 0 0 6.25rem;
}


// **** Contact Form ****

.contact-form{
  max-width: 1440px;
  background-color: $primary-color;
  margin: 0 auto;
}


.contact-wrapper{
  max-width: 1170px;
  padding-top: 3.125rem;
  margin: 0 auto;
  padding-bottom: 6.25rem;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: flex-start;
}


.form-content{
  margin: 7.813rem 0 0 12.5rem;
}

.form-content form input{
  width: 250px;
  height: 30px;
  margin: 0.313rem 0 1.25rem;
  border-radius: 0.313rem;
}

.form-content form textarea{
  resize: none;
  width: 252px;
  margin: 0.313rem 0;
  border-radius: 0.313rem;
}

.form-content button{
  font-size: 1rem;
  text-decoration: none;
  background-color: $button-color;
  border: none;
  padding: 0.625rem 6.688rem;
  color: $text-color;
  border-radius: 5px;
  font-weight: bold;
  text-transform: uppercase;
}

.form-content button:hover{
  background-color: $button-hover-color;
}

.form-content p{
  width: 250px;
  font-size: 1rem;
  color: $disabled-text;
}







