.footer-wrapper{
  width: 1440px;
  max-width: 100%;
  background-color: $primary-color;
  color: $text-color;

}

.footer-info{
  width: 1170px;
  max-width: 100%;
  height: 215px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}


//***** Footer Phone Style ****

.footer-contact{
  display: flex;
  flex-direction: column;
}

.footer-phone{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.footer-phone img{
  margin-right: 1.563rem;
  width: 24px;
  height: 24px;
}


//***** Footer Mail Style *****

.form-title{
  display: flex;
  justify-content: center;
  margin: 1rem 0  1.563rem;
}

.footer-mail{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.footer-mail img{
  margin-right: 1.563rem;
  width: 24px;
  height: 24px;
}

// **** Stay in touch Style *****

.stay-form{
  display: flex;
  flex-direction: column;
}

.form-input{
 display: flex;
 justify-content: center;
}

.form-input input{
  border: 0.188rem solid $button-color;
  color: white;
  background: none;
  border-radius: 0.313rem 0 0 0.313rem;
  height: 31px;
  width: 180px;
}


//**** Form button ****

.form-input button{
  text-decoration: none;
  background-color: $button-color;
  color: white;
  border-radius: 0 0.313rem 0.313rem 0;
  font-weight: bolder;
  text-transform: uppercase;
  padding: 0.5rem 1rem;
  border: none;
}

.form-input button:hover{
  background-color: $button-hover-color;
}

//****** Footer Social Media *****

.social-media{
  display: flex;
  justify-content: center;
}

.social-media p{
  margin: 1rem 0 1.563rem;
}

.list-icons{
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
  margin: 0 auto;
}

.list-icons img{
  height: 24px;
}

.list-icons img:hover{
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.5);
}

.list-icons a{
  margin-left: 2.188rem;
}


// ***** Footer Copy Right ******

.form-copy-right{
  display: flex;
  justify-content: center;
}

.form-copy-right p{
  order: 3;
  color: #BDBDBD;
  margin: 1.25rem;
}
