//Header Div


.principal-wrapper{
  background-image: url(../../img/home-bg-img.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.header{
  margin: 0 auto;
  max-width: 100%;
  width: 1170px;
  height: 720px;
  position: relative;
  color: $text-color;
}

//Desktop logo

.logo img{
  position: absolute;
  width: 70px;
  height: 40px;
  top: 35px;
}

//Barra de navegacion

.nav-bar{
  float: right;
}

.nav-menu{
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 35px;
}

.nav-menu li a{
  text-decoration: none;
  font-size: 18px;
  margin-left: 35px;
  display: inline-block;
}

.nav-menu li a:visited{
  color: white;
}

.cool-link::after{
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background-color: $text-color;
  transition: width .3s
}

.cool-link:hover::after{
  width: 100%;
  transition: width .3s;
}


// ****** Header icon *****

.header-icons{
  position: absolute;
  margin-top: 240px;
}

.icons-list{
  display: flex;
  flex-direction: column;
  padding: 0;
}

.icons-list li{
  list-style: none;
}

.icons-list li img{
  height: 24px;
  width: 24px;
  margin-bottom: 25px;
}





//**** Header Title *****

.header-title{
  position: absolute;
  left: 100px;
  top: 260px;
}

.header-title h1{
  font-size: 72px;
  margin: 0 auto;

}

.header-title p{
  font-size: 35px;
  margin: 0 auto;
}

