//Header Div

.first-header-wrapper{
  max-width: 100%;
  width: 1440px;
  //background-image: url(../../img/home-header-img.png);
  //background-size: contain;
  //background-repeat: no-repeat;
  //border: 1px solid yellow;
}

.header{
  display: flex;
  flex-direction: column;
  border: 1px solid green;
  margin: 0 auto;
  max-width: 100%;
  width: 1170px;
  color: $text-color;
}


.header-img{
  background-image: url(../../img/home-header-img.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 40%;
  height: 580px;
  margin-top: 60px;
  border: 1px solid red;
}


@media(max-width: 767px){
  .header-img{
    display: none;
  }

  .first-header-wrapper{
    max-width: 1440px;
    width: 100%;
    background-image: url(../../img/home-header-img.png);
    background-size: contain;
    background-repeat: no-repeat;
    border: 1px solid orange;
  }

  .header{
    max-width: 90%;
    margin: 0 auto;
  }
}

//Barra de navegacion

//Desktop logo

.logo img{
  top: 1.875rem;
}

//Nav bar

.nav-bar{
  display: flex;
  flex-direction: column;
  flex-direction: row;
  justify-content: space-between;
}


.nav-menu{
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 1.875rem;
}

@media(max-width: 767px){
  .nav-bar ul{
    display: none;
  }
}

.nav-menu li a{
  text-decoration: none;
  font-size: 1.125rem;
  display: inline-block;
}

.nav-menu li a:visited{
  color: $text-color;
}

.cool-link::after{
  content: '';
  display: block;
  width: 0;
  height: 0.125rem;
  background-color: $text-color;
  transition: width .3s
}

.cool-link:hover::after{
  width: 100%;
  transition: width .3s;
}


// ****** Header icon *****

//Header content

.header-content{
  height: 700px;
  display: flex;
  align-items: center;
}


.icons-list{
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  height: 180px;
  padding: 0;
}

.icons-list li{
  list-style: none;
}

.icons-list li img{
  height: 1.5rem;
  width: 1.5rem;
}

.icons-list li img:hover{
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.5);
}


//**** Header Title *****
.header-name{
  border: 3px solid red;
  margin-left: 5rem;
}

.header-name h1{
  font-size: 4.375rem;
  margin: 0 auto;
}

.header-name p{
  font-size: 1.875rem;
  margin: 0 auto;
}


