//Header Div

* {
  box-sizing: border-box;
}

.portfolio-bg-wrapper{
  max-width: 100%;
  padding: 0 5%;
  width: 1440px;
}

.portfolio-header{
  background-image: url(../../img/header-about-portfolio.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top 70px right;
  color: $text-color;
  display: flex;
  flex-direction: column;
  height: 600px;
  margin: 0 auto;
  max-width: 100%;
  width: 1170px;
}

.header-name-portfolio h1 {
  font-size: 6.375rem;
  margin: 0 auto;
}

//****** Portfolio projects content ****

.portfolio-section {
  background-color: $primary-color;
  margin: 0 auto;
  max-width: 1440px;
}


.portfolio-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: end;
  max-width: 1170px;
  margin: 0 auto;
}

.project-wrapper {
  max-width: 1440px;
  margin-top: 180px;
  padding: 0 5%;
}

.second-wrapper {
  margin: 0 auto;
  max-width: 1170px;
}

.tabs-title h2 {
  font-size: 2.5rem;
}

// Center website

.row {
  margin: 1.875rem -1rem 6.25rem;
}

// Add padding BETWEEN each column

.row,
.row > .column {
  padding: 0.5rem;
}

// Create three equal columns that floats next to each other

.column {
  display: none; // Hide all elements by default
  float: left;
  width: 33.33%;
}

// Clear floats after rows

.row:after {
  content: "";
  clear: both;
  display: table;
}

// Content

.content {
  background-color: #1D1D1D;
  border-radius: 0.625rem;
  padding: 0.625rem;
}

.content img {
  width: 100%;
}

// The "show" class is added to the filtered elements

.show {
  display: block;
}

// *** Github Activity ***

.github-activity a {
  background-color: #313131;
  border-radius: 0.313rem;
  border: none;
  color: $text-color;
  cursor: pointer;
  outline: none;
  padding: 0.75rem 1rem;
  text-decoration: none;
}

.github-activity a:hover {
  background-color: $primary-color;
  color: $disabled-text;
}


// Style the buttons

.tabs-content {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#myBtnContainer{
  width: 320px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.btn:hover {
  background-color: #1D1D1D;
}

.btn.active {
  background-color: #1D1D1D;
  color: $text-color;
}

.btn {
  border: none;
  background-color: #313131;
  border-radius: 0.313rem;
  color: $text-color;
  cursor: pointer;
  outline: none;
  padding: 0.75rem 1rem;
}


