.portfolio-section{
  max-width: 1440px;
  background-color: $primary-color;
  margin: 0 auto;
}


.portfolio-wrapper{
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.portfolio-img-box{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 4.688rem 0 6.25rem;
}

.portfolio-img img{
  width: 23.125rem;
  height: 15.938rem;
}

//****** Portfolio Title ****

.portfolio-title h3{
  color: $text-color;
  margin-top: 9.375rem;
  float: right;
  font-size: 2.5rem;
}


// ***** Projects Botton ******

.portfolio-btn a{
  font-size: 1rem;
  text-decoration: none;
  background-color: $button-color;
  padding: 0.625 1rem;
  color: $text-color;
  border-radius: 0.313rem;
  font-weight: bold;
  text-transform: uppercase;
  margin: 1.25rem 0 6.25rem;
  float: right;
}

.portfolio-btn a:hover{
  background-color: $button-hover-color;
}

