//Header Div

.header{
  margin: 0 auto;
  width: 1170px;
  height: 720px;
  position: relative;
  color: white;
}

.contact-bg{
  background-image: url(/img/Desktop/Desktop/contact-img-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.portfolio-bg{
  width: 1440px;
}

//Desktop logo

.logo img{
  position: absolute;
  width: 70px;
  height: 35px;
  top: 35px;
}

//Barra de navegacion

.nav-bar{
  float: right;
}

.nav-menu{
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 35px;
}

.nav-menu li a{
  text-decoration: none;
  font-size: 18px;
  margin-left: 35px;
}

.nav-menu li a:visited{
  color: white;
}


//**** Header Title *****

.header-title{
  position: absolute;
  left: 100px;
  top: 260px;
}

.header-title h1{
  font-size: 72px;
  margin: 0 auto;

}

.header-title p{
  font-size: 35px;
  margin: 0 auto;
}

//****** Portfolio Title ****

.contact-title{
  display: flex;
  justify-content: start;
  margin-bottom: 50px 0;
}

.contact-title h4{
  display: flex;
  flex-direction: row;
  margin: 0 0 0 0;
  font-size: 35px;
}

.contact-picture img{
  margin: 85px 0 0 100px;
}


// **** Contact Form ****

.contact-form{
  max-width: 1440px;
  background-color: black;
  margin: 0 auto;
}


.contact-wrapper{
  max-width: 1170px;
  padding-top: 100px;
  margin: 0 auto;
  padding-bottom: 100px;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: flex-start;
}


.form-content{
  margin: 125px 0 0 200px;
}

.form-content form input{
  width: 250px;
  height: 25px;
  margin: 5px 0 15px;
  border-radius: 5px;
}

.form-content form textarea{
  resize: none;
  width: 252px;
  margin: 5px 0;
  border-radius: 5px;
}

.form-content button{
  font-size: 16px;
  text-decoration: none;
  background-color: #0074FB;
  border: none;
  padding: 10px 107px;
  color: white;
  border-radius: 5px;
  font-weight: bold;
  text-transform: uppercase;
}

.form-content p{
  width: 250px;
  font-size: 16px;
  color: grey;
}







